<div class="row">
    <div class="col-auto">
        <h1> Hello {{name}}, Welcome back!</h1>
    </div>
</div>

{{#if blogs.length}}
<div class="card-post">
    {{#each blogs as |blog|}}
    <div class="card-head">
        <div class="col align-self-start col-sm-4">
            <span>by {{user.name}} on {{date_created}}.</span>
            <h3><a class="card-title" href="/dash/{{id}}"{{title}}></a></h3>
        </div>
        <div class="col align-self-end">
            <div class="col-md-10 card-desc">
                <p>{{blog.content}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

<h2> Create a new Blog:</h2>

<form class="form new-blog-form">
    <div class="form-group">
        <label for="blog-title" type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
        <label for="blog-content">Content:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<script src="./js/Blog.js"></script>